* {
    font-family: Roboto Mono, JetBrainsMono Nerd Font;
    font-weight: 600;
    font-size: 14px;
    padding: 0;
    border: 0;
    margin: 0;
}

#waybar {
    color: #eee;
    background-color: rgba(0, 0, 0, 0.67);
}

#workspaces button {
    color: #eee;
}

#workspaces button.empty {
    color: #eee;
}

#bluetooth, 
#network,
#language {
    padding-right: 1em 
}